[Unit]
Description=Downloads tarballs of updated versions of packages
Wants=pacman-aria2dl.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pacman-aria2dl

[Install]
WantedBy=multi-user.target
